@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');

body {
    font-family: 'Roboto Mono', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

header {
    width: 100%;
    height: 45px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.blogspot {
    background-color: #808080;
    height: auto;
    padding: 20px;
    margin: 20px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60px;
    background-color: #acadaf;
    border-radius: 2%;
}
nav .nav-home-container {
    margin-left: 50px;
}

nav .nav-home-container img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .logo-perf {
    align-items: center;
    justify-content: flex-end;
}

.h2-proyectos {
    text-align: center;
}

.profile-link img {
    height: 40px;
    margin-right: 15px;
    width: 40px;
    justify-content: space-between;
}

.blogpost img{
    width: 400px;
    height: auto;
    margin-top: 20px;
    margin-left: 100px;
    color: white;
    /* margin-right: 10px; */
    
}


main .titulo-Blog-Post .blogpost {
    background-color:#e6e9ed;
    width: 100%;
    height: 275px;
    box-sizing: border-box;
    padding: auto;
    position: center;
    margin-top: 10px;
}

.blogpost p{
    font-family: 'Roboto mono', monospace;
    font-size: 20px;
    position: relative;
    margin-left: 600px;
    top: -175px;    
}

div .proyectos-button{
    position: relative;
    font-size: 20px;
    top: -200px; 
    width: 100px;
    height: 100px;
    background-color: white;
    border-width: 100px;
    margin-left: 600px;
    border: 2px solid #292929;
    border-radius: 5%;
}

.BlogPost-titulo{
    font-family: 'Roboto mono', monospace;
    font-size: 20px;
    position: relative;
    margin-left: 50%;
}


.linea-blogposts {
    border: none;
    height: 2px;
    background-color: #cdd2da;
    width: 100%;
}

footer .footer-top{
    width: 100%;
    height: 5px;
    display: grid;
    background-color: grey;
    margin-top: 70px;
}

footer .footer-bottom{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #22272d;
    color: white;
    text-align: center;
    align-items: center;
}

.footer {
    position: absolute end;
}